@import './base.css';
@tailwind base;
@tailwind components;
@tailwind utilities;

#app {
  margin: 0 auto;
  padding: 2rem;
  font-weight: normal;
}

html, body {
  max-width: 100%;
  overflow-x: hidden;
}


@media (min-width: 1024px) {
  body {
    display: flex;
    place-items: center;
  }

  #main {
    display: grid;
    grid-template-columns: 1.3fr 1.5fr;
    padding: 0 2rem;
    gap: 20px
  }
}

.pointer {
  animation: MoveUpDown 1s ease-in-out infinite;
  position: absolute;
}

@keyframes MoveUpDown {
  0%, 100% {
    bottom: 0;
  }
  50% {
    bottom: 100px;
  }
}